 # Hyperparameter Tuning - Feature engineering

![nohayjupytersingif](https://media.giphy.com/media/jeDM590qtCP9C/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Feature-engineering" data-toc-modified-id="Feature-engineering-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Feature engineering</a></span></li><li><span><a href="#Peque√±a-exploraci√≥n-de-los-datos" data-toc-modified-id="Peque√±a-exploraci√≥n-de-los-datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Peque√±a exploraci√≥n de los datos</a></span><ul class="toc-item"><li><span><a href="#Nos-fijamos-en-la-feature-&quot;Cabin&quot;" data-toc-modified-id="Nos-fijamos-en-la-feature-&quot;Cabin&quot;-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Nos fijamos en la feature "Cabin"</a></span></li><li><span><a href="#Analizamos-los-nombres-de-los-pasajeros" data-toc-modified-id="Analizamos-los-nombres-de-los-pasajeros-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Analizamos los nombres de los pasajeros</a></span></li></ul></li><li><span><a href="#Categorical-encoding" data-toc-modified-id="Categorical-encoding-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Categorical encoding</a></span><ul class="toc-item"><li><span><a href="#Label-Encoder" data-toc-modified-id="Label-Encoder-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Label Encoder</a></span></li><li><span><a href="#One-Hot-Encoder" data-toc-modified-id="One-Hot-Encoder-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>One Hot Encoder</a></span></li><li><span><a href="#A-mano-con-un-diccionario-üí°" data-toc-modified-id="A-mano-con-un-diccionario-üí°-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>A mano con un diccionario üí°</a></span></li></ul></li><li><span><a href="#Feature-Scaling" data-toc-modified-id="Feature-Scaling-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Feature Scaling</a></span><ul class="toc-item"><li><span><a href="#Estandarizaci√≥n" data-toc-modified-id="Estandarizaci√≥n-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Estandarizaci√≥n</a></span></li><li><span><a href="#Normalizaci√≥n" data-toc-modified-id="Normalizaci√≥n-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Normalizaci√≥n</a></span></li><li><span><a href="#Cito-a-Andriy-Burkov:" data-toc-modified-id="Cito-a-Andriy-Burkov:-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Cito a Andriy Burkov:</a></span></li></ul></li><li><span><a href="#Repasamos-Train-Test-Split" data-toc-modified-id="Repasamos-Train-Test-Split-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Repasamos Train Test Split</a></span></li><li><span><a href="#Ajuste-de-hiperpar√°metros" data-toc-modified-id="Ajuste-de-hiperpar√°metros-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Ajuste de hiperpar√°metros</a></span><ul class="toc-item"><li><span><a href="#--Muestreo-aleatorio" data-toc-modified-id="--Muestreo-aleatorio-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>- Muestreo aleatorio</a></span></li><li><span><a href="#--Muestreo-de-cuadr√≠cula" data-toc-modified-id="--Muestreo-de-cuadr√≠cula-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>- Muestreo de cuadr√≠cula</a></span></li><li><span><a href="#--Muestreo-bayesiano" data-toc-modified-id="--Muestreo-bayesiano-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>- Muestreo bayesiano</a></span></li><li><span><a href="#GridSearchCV-de-sklearn,-¬°saludad-a-vuestro-nuevo-amigo!" data-toc-modified-id="GridSearchCV-de-sklearn,-¬°saludad-a-vuestro-nuevo-amigo!-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>GridSearchCV de sklearn, ¬°saludad a vuestro nuevo amigo!</a></span></li><li><span><a href="#Entrenar√≠amos-el-modelo-con-los-mejores-par√°metros" data-toc-modified-id="Entrenar√≠amos-el-modelo-con-los-mejores-par√°metros-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>Entrenar√≠amos el modelo con los mejores par√°metros</a></span></li></ul></li><li><span><a href="#Salvar-/-Exprotar-el-modelo" data-toc-modified-id="Salvar-/-Exprotar-el-modelo-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Salvar / Exprotar el modelo</a></span></li></ul></div>

##¬†Feature engineering
Es el proceso de utilizar el conocimiento del dominio para extraer caracter√≠sticas de los datos brutos. Estas caracter√≠sticas pueden utilizarse para mejorar el rendimiento de los algoritmos de aprendizaje autom√°tico. La ingenier√≠a de caracter√≠sticas puede considerarse como un aprendizaje autom√°tico aplicado en s√≠ mismo

In [111]:
import pandas as pd

In [112]:
data = pd.read_csv("../datasets/titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##¬†Peque√±a exploraci√≥n de los datos

In [113]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [115]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [116]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [117]:
# Vemos el porcentaje de nulos en cada columna
round(data.isnull().sum().sort_values(ascending=False)/len(data)*100,2)

Cabin          77.10
Age            19.87
Embarked        0.22
PassengerId     0.00
Survived        0.00
Pclass          0.00
Name            0.00
Sex             0.00
SibSp           0.00
Parch           0.00
Ticket          0.00
Fare            0.00
dtype: float64

### Nos fijamos en la feature "Cabin"

In [118]:
data.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

Hay muchos valores que faltan, pero debemos utilizar la variable del camarote porque puede ser un predictor importante. Como se puede ver en la siguiente imagen, la primera clase ten√≠a los camarotes en la cubierta A, B o C, una mezcla estaba en la D o la E y la tercera clase estaba principalmente en la f o la g. Podemos identificar la cubierta por la primera letra.

![laimagendelbarco](../images/barco.png)

In [119]:
# Creamos una nueva columna "Cubierta" bas√°ndonos en la letra del camarote
data["Deck"] = data["Cabin"].apply(lambda x: x[0] if pd.notnull(x) else "M")

In [120]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,M
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,M
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,M

###¬†Analizamos los nombres de los pasajeros

El nombre podr√≠aa aportarnos informaci√≥n importante sobre el estatus socioecon√≥mico de un pasajero. Y en funci√≥n del estatus socioecon√≥mico han podido comprar un billete m√°s caro o m√°s barato, que indica un camarote situado en uno u otro lugar del barco. Podemos responder a la pregunta de si alguien est√° casado o no o si tiene un t√≠tulo formal y extraer esa informaci√≥n para generar una nueva variable.

In [121]:
def limpianame(x):
    x = x.split(",")
    x = x[1].split(".")
    return x[0].strip()

In [122]:
data["Title"] = data["Name"].apply(limpianame)

In [123]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,M,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,M,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,M,Mr

In [124]:
data.Title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer'], dtype=object)

In [129]:
#¬†Para no tener muchas categor√≠as con los t√≠tulos, vamos a quedarnos con los que tienen m√°s de 10

In [132]:
varios = (data.Title.value_counts() < 10)

In [133]:
varios

Mr        False
Miss      False
Mrs       False
Master    False
Misc      False
Name: Title, dtype: bool

In [134]:
# Hacemos un loc de la columna y si es true, porque es menos de 10, lo identificamos como miscel√°neo
data["Title"] = data["Title"].apply(lambda x: "Misc" if varios.loc[x] == True else x)

In [127]:
#¬†Hemos agrupado los t√≠tulos con menos de 10 registros en una categor√≠a nueva
data.Title.value_counts()

Mr        517
Miss      182
Mrs       125
Master     40
Misc       27
Name: Title, dtype: int64

In [128]:
# Borramos las columnas que vamos a querer despreciar porque ya hemos trabajado con ellas o no nos aportan informaci√≥n.
borrar = ["Name", "PassengerId", "Cabin", "Ticket"]

In [19]:
data = data.drop(borrar, axis=1)

In [20]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked Deck Title
0         0       3    male  22.0      1      0   7.2500        S    M    Mr
1         1       1  female  38.0      1      0  71.2833        C    C   Mrs
2         1       3  female  26.0      0      0   7.9250        S    M  Miss
3         1       1  female  35.0      1      0  53.1000        S    C   Mrs
4         0       3    male  35.0      0      0   8.0500        S    M    Mr

Solo nos queda la columna Age con nulos ... Vamos a rellenarlos, pero explorando los datos.... ¬øtienen la misma edad de media los hombres que las mujeres?

In [21]:
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
Deck          0
Title         0
dtype: int64

In [22]:
# Agrupamos por sexo y edad para ver las medianas de ambas agrupaciones
display(data.groupby(["Sex"])["Age"].mean())

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [23]:
# Agrupamos adem√°s por cubierta para tener en cuenta tambi√©n el estatus socioecon√≥mico
display(data.groupby(["Sex", "Deck"])["Age"].median())

Sex     Deck
female  A       48.0
        B       29.5
        C       35.0
        D       47.0
        E       33.0
        F       26.5
        G       14.0
        M       25.0
male    A       40.0
        B       36.0
        C       38.0
        D       36.5
        E       46.0
        F       19.0
        M       27.0
        T       45.0
Name: Age, dtype: float64

Por ajustarnos un poco m√°s, vamos a rellenar los NaN de la edad con la mediana pero en funci√≥n de su sexo y tambi√©n en funci√≥n de la cubierta.

In [24]:
data["Age"] = data.groupby(["Sex", "Deck"])["Age"].apply(lambda x: x.fillna(x.median()))

In [25]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked Deck Title
0         0       3    male  22.0      1      0   7.2500        S    M    Mr
1         1       1  female  38.0      1      0  71.2833        C    C   Mrs
2         1       3  female  26.0      0      0   7.9250        S    M  Miss
3         1       1  female  35.0      1      0  53.1000        S    C   Mrs
4         0       3    male  35.0      0      0   8.0500        S    M    Mr

## Categorical encoding

Con una linea de import en nuestro c√≥digo, se abren posibilidades nuevas en opciones a como modelar o manipular nuestro dataset.

Anteriormente comentamos en el post de dummies la posibilidad de generar con la funci√≥n get_dummies() y transformar cada dato no num√©rico en una representaci√≥n binaria ( expandiendo nuestro dataset a la cantidad de datos distintos que existan en una columna).

###¬†Label Encoder
Pros y contras
- Si tenemos categor√≠as que tienen valor en s√≠ mismas, como "bueno, malo, regular" lo ideal ser√≠a no dejar que LabelEncoder lo haga de forma autom√°tica si no aplicarlo nosotras a mano, ya que el valor que ponemos puede influir en el peso que el algoritmo le da a esas variables.

In [26]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [27]:
# Creamos una columna nueva que es "embarked_n" con la transformaci√≥n a num√©rica de las categor√≠as 
data["Embarked_n"] = le.fit_transform(data["Embarked"])

In [28]:
# Hacemos lo mismo con sex, a trav√©s de LabelEncoder
data["Sex_n"] = le.fit_transform(data["Sex"])

In [29]:
#Recordemos que labelencoder nos pone n√∫meros donde tenemos categor√≠as empezando por 0 e incrementando
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,Embarked_n,Sex_n
0,0,3,male,22.0,1,0,7.2500,S,M,Mr,2,1
1,1,1,female,38.0,1,0,71.2833,C,C,Mrs,0,0
2,1,3,female,26.0,0,0,7.9250,S,M,Miss,2,0
3,1,1,female,35.0,1,0,53.1000,S,C,Mrs,2,0
4,0,3,male,35.0,0,0,8.0500,S,M,Mr,2,1

In [30]:
data.drop(["Embarked", "Sex"], axis=1, inplace=True)

In [31]:
data.head()

   Survived  Pclass   Age  SibSp  Parch     Fare Deck Title  Embarked_n  Sex_n
0         0       3  22.0      1      0   7.2500    M    Mr           2      1
1         1       1  38.0      1      0  71.2833    C   Mrs           0      0
2         1       3  26.0      0      0   7.9250    M  Miss           2      0
3         1       1  35.0      1      0  53.1000    C   Mrs           2      0
4         0       3  35.0      0      0   8.0500    M    Mr           2      1

### One Hot Encoder

Ahora bien, como ya hemos comentado, dependiendo de los datos que tengamos, podr√≠amos encontrarnos con situaciones en las que, tras la codificaci√≥n de las etiquetas, podr√≠amos confundir a nuestro modelo haci√©ndole creer que una columna tiene datos con alg√∫n tipo de orden o jerarqu√≠a, cuando claramente no lo tenemos. Para evitar esto, "OneHotEncode" esa columna.
Lo que hace una codificaci√≥n en caliente es que toma una columna que tiene datos categ√≥ricos, que ha sido codificada con etiquetas, y luego divide la columna en m√∫ltiples columnas. Los n√∫meros son reemplazados por 1s y 0s, dependiendo de qu√© columna tiene qu√© valor.

In [32]:
# Vamos a hacer lo mismo con los t√≠tulos pero con OneHotEncoder, que nos crear√° diferentes columnas
data.Title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Misc'], dtype=object)

In [33]:
#Creamos una lista con lo que van a ser los nombres de las columnas
labels = ["Title_" + str(a) for a in list(data.Title.unique())]
labels

['Title_Mr', 'Title_Mrs', 'Title_Miss', 'Title_Master', 'Title_Misc']

In [34]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()

In [35]:
#Hacemos el fit transform y nos guardamos los array de datos en una variable
title = onehotencoder.fit_transform(data["Title"].values.reshape(-1,1)).toarray()

In [36]:
#A√±adimos al dataframe todas las columnas a la vez
data[labels] = pd.DataFrame(title,index = data.index)

In [37]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Title,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc
0,0,3,22.0,1,0,7.2500,M,Mr,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,38.0,1,0,71.2833,C,Mrs,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,26.0,0,0,7.9250,M,Miss,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,35.0,1,0,53.1000,C,Mrs,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,35.0,0,0,8.0500,M,Mr,2,1,0.0,0.0,0.0,1.0,0.0

In [58]:
# La columna Title ya no nos hace falta.
data.drop("Title", axis=1, inplace=True)

###¬†A mano con un diccionario üí°
Podremos otorgarle un valor num√©rico a cada categor√≠a y decidimos su importancia

In [38]:
data.Deck.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [39]:
"""
Creamos las categor√≠as a mano, podr√≠amos darle un orden de importancia a las letras y poner
mayor puntuaci√≥n o menor en funci√≥n de la relaci√≥n que tenga esa variable con la variable target.
"""
dic_para_hot = { "M": 1,
                "C": 2,
                "E": 3,
                "G":4,
                "D":5,
                "A":6,
                "B":7,
                "F": 8,
                "T":9
}

In [40]:
# Con un map reemplazamos todas las strings de la columna Deck por el valor asignado en el diccionario
data.Deck = data.Deck.map(dic_para_hot)

In [59]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc
0,0,3,0.271174,1,0,-0.502445,1,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,0.472229,1,0,0.786845,2,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,0.321438,0,0,-0.488854,1,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,0.434531,1,0,0.420730,2,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,0.434531,0,0,-0.486337,1,2,1,0.0,0.0,0.0,1.0,0.0

##¬†Feature Scaling

Algunos algoritmos, especialmente los que se basan en c√°lculos de distancia, dar√°n m√°s peso a las caracter√≠sticas que muestren grandes cambios de valor, interpretando estas caracter√≠sticas como artificialmente m√°s importantes. Para estos algoritmos, es importante que escalemos nuestros rasgos, o que pongamos en la misma escala rasgos con escalas naturalmente diferentes, para que los rasgos sean utilizados por el algoritmo sin una sobreponderaci√≥n artificial, y permita comparar dos rasgos con escalas diferentes.      
Hay dos tipos diferentes de escalamiento de caracter√≠sticas que vamos a explorar:

### Estandarizaci√≥n   
En la estandarizaci√≥n, imponemos varias propiedades estad√≠sticas a la variable: el valor medio se fija en 0, y la desviaci√≥n est√°ndar se fija en 1. Esto se consigue restando la media de cada valor de la caracter√≠stica y dividiendo por la desviaci√≥n est√°ndar. Esto tambi√©n se llama a veces "normalizaci√≥n de la puntuaci√≥n z". 

Entonces, ¬øqu√© significa esto, en la pr√°ctica, sobre los datos estandarizados? Como podemos ver a continuaci√≥n, ahora tenemos las distribuciones de ambas variables centradas alrededor de la media cero, con una desviaci√≥n est√°ndar de 1. Como estamos imponiendo esta desviaci√≥n est√°ndar, la normalizaci√≥n reduce los efectos de los valores at√≠picos en la caracter√≠stica. Adem√°s, permite comparar dos caracter√≠sticas con escalas o unidades diferentes. Las diferentes escalas de las caracter√≠sticas se reflejar√≠an estad√≠sticamente en diferencias tanto en la media como en la desviaci√≥n est√°ndar. La estandarizaci√≥n de estos dos n√∫meros entre caracter√≠sticas elimina la influencia de estas diferencias de escala.

La estandarizaci√≥n es especialmente importante en situaciones en las que utilizamos algoritmos que asumen que las caracter√≠sticas de nuestros datos se distribuyen en una 'curva de campana' o una distribuci√≥n gaussiana, como la regresi√≥n lineal y log√≠stica.

In [42]:
"""
En este dataset no nos enfrentamos a un problema de regresi√≥n si no de clasificaci√≥n,
pero vamos a hacer un ejemplo de estandarizaci√≥n en una columna para ver el c√≥digo
"""
from sklearn.preprocessing import StandardScaler

In [43]:
scaler = StandardScaler()

In [44]:
data["Fare"] = scaler.fit_transform(data["Fare"].values.reshape(-1,1))

In [60]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc
0,0,3,0.271174,1,0,-0.502445,1,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,0.472229,1,0,0.786845,2,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,0.321438,0,0,-0.488854,1,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,0.434531,1,0,0.420730,2,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,0.434531,0,0,-0.486337,1,2,1,0.0,0.0,0.0,1.0,0.0

### Normalizaci√≥n

En la otra forma de escalado de caracter√≠sticas, llamada normalizaci√≥n, la caracter√≠stica se reescala a un rango entre 0 y 1, sin ning√∫n cambio en su distribuci√≥n original dentro de ese rango. Matem√°ticamente, esto se consigue restando el valor m√≠nimo de la caracter√≠stica a cada valor de la misma, y dividiendo por la diferencia entre el valor mayor y el valor m√≠nimo. 

Dado que calculamos el valor normalizado utilizando los valores m√°ximo y m√≠nimo de la caracter√≠stica, esta t√©cnica se denomina a veces "normalizaci√≥n min-max".      
La normalizaci√≥n es m√°s √∫til en los casos en que sus datos tienen pocos valores at√≠picos pero rangos muy variables, usted no sabe c√≥mo se distribuyen sus datos, o sabe que no se distribuyen en una curva de campana (gaussiana). Generalmente se aplica con algoritmos que no hacen suposiciones sobre las distribuciones de las caracter√≠sticas.

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
min_max = MinMaxScaler()

In [48]:
data["Age"] = min_max.fit_transform(data["Age"].values.reshape(-1,1))

In [61]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc
0,0,3,0.271174,1,0,-0.502445,1,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,0.472229,1,0,0.786845,2,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,0.321438,0,0,-0.488854,1,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,0.434531,1,0,0.420730,2,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,0.434531,0,0,-0.486337,1,2,1,0.0,0.0,0.0,1.0,0.0

In [51]:
data.Age.min()

0.0

In [52]:
data.Age.max()

1.0

###¬†Cito a Andriy Burkov:
Te estar√°s preguntando cu√°ndo se debe utilizar la normalizaci√≥n y cu√°ndo la estandarizaci√≥n. No hay una respuesta definitiva a esta pregunta. Por lo general, si su conjunto de datos no es demasiado grande y tiene tiempo, puede probar ambos y ver cu√°l de ellos se adapta mejor a su tarea.
Si no tiene tiempo para realizar varios experimentos, como regla general:

- Los algoritmos de aprendizaje no supervisado, en la pr√°ctica, se benefician m√°s de la estandarizaci√≥n que de la normalizaci√≥n.      
- La estandarizaci√≥n tambi√©n es preferible para una caracter√≠stica si los valores que √©sta toma se distribuyen cerca de una distribuci√≥n normal (la llamada curva de campana).     
- Una vez m√°s, la normalizaci√≥n es preferible para una caracter√≠stica si a veces puede tener valores extremadamente altos o bajos (valores at√≠picos); esto se debe a que la normalizaci√≥n "exprimir√°" los valores normales en un rango muy peque√±o.       
- En todos los dem√°s casos, es preferible la normalizaci√≥n.      

El reescalado de caracter√≠sticas suele ser beneficioso para la mayor√≠a de los algoritmos de aprendizaje. Sin embargo, las implementaciones modernas de los algoritmos de aprendizaje, que se pueden encontrar en bibliotecas populares, son robustas a las caracter√≠sticas que se encuentran en diferentes rangos..

##¬†Repasamos Train Test Split

In [50]:
# Vamos a preparar los datos (X, y) antes de entrenar el modelo y ajustar los hiperpar√°metros

In [62]:
# Lista de columnas que voy a usar en la X
columnas_x = [a for a in list(data.columns) if a != "Survived"]
columnas_x

['Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Deck',
 'Embarked_n',
 'Sex_n',
 'Title_Mr',
 'Title_Mrs',
 'Title_Miss',
 'Title_Master',
 'Title_Misc']

In [63]:
# Me guardo la variable X con todos los datos 
X = data[columnas_x]

In [64]:
# Variable target solo la columna que voy a predecir
y = data.Survived

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
# Asigno las variables train test split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2, random_state = None)

## Ajuste de hiperpar√°metros

¬øQu√© es el ajuste de hiperpar√°metros?
Los hiperpar√°metros son par√°metros ajustables que permiten controlar el proceso de entrenamiento de un modelo. Por ejemplo, con redes neuronales, puede decidir el n√∫mero de capas ocultas y el n√∫mero de nodos de cada capa. El rendimiento de un modelo depende en gran medida de los hiperpar√°metros.
El ajuste de hiperpar√°metros, tambi√©n denominado optimizaci√≥n de hiperpar√°metros es el proceso de encontrar la configuraci√≥n de hiperpar√°metros que produzca el mejor rendimiento. Normalmente, el proceso es manual y costoso desde el punto de vista computacional.

Hay diferentes t√©cnicas para elegir este ajuste de hiperpar√°metros:     
    
### - Muestreo aleatorio    
El muestreo aleatorio admite hiperpar√°metros discretos y continuos. Admite la terminaci√≥n anticipada de las series de bajo rendimiento. Algunos usuarios realizan una b√∫squeda inicial con muestreo aleatorio y luego restringen el espacio de b√∫squeda para mejorar los resultados.
En el muestreo aleatorio, los valores de hiperpar√°metro se seleccionan aleatoriamente del espacio de b√∫squeda definido.

### - Muestreo de cuadr√≠cula
El muestreo de cuadr√≠cula admite hiperpar√°metros discretos. Use el muestreo de cuadr√≠cula si su presupuesto le permite buscar en el espacio de b√∫squeda de manera exhaustiva. Admite la terminaci√≥n anticipada de las series de bajo rendimiento.

### - Muestreo bayesiano   
El muestreo bayesiano se basa en el algoritmo de optimizaci√≥n bayesiano. Escoge las muestras en funci√≥n de c√≥mo lo hicieron las anteriores, para que las nuevas muestras mejoren la m√©trica principal.
 Para obtener los mejores resultados, se recomienda que el n√∫mero m√°ximo de series sea mayor o igual que 20 veces el n√∫mero de hiperpar√°metros que se est√° optimizando.
El n√∫mero de series simult√°neas afecta a la eficacia del proceso de ajuste. Un menor n√∫mero de series simult√°neas puede provocar una mejor convergencia de muestreo, dado que el menor grado de paralelismo aumenta el n√∫mero de series que se benefician de las series completadas previamente.

Vamos a ver el ajuste de hiperpar√°metros en cuadr√≠cula con GridSearchCV pero os dejo que investigu√©is el muestreo bayesiano con [HyperOpt](https://towardsdatascience.com/hyperopt-hyperparameter-tuning-based-on-bayesian-optimization-7fa32dffaf29)

###¬†GridSearchCV de sklearn, ¬°saludad a vuestro nuevo amigo!
Y leed la [documentaci√≥n](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html)

In [67]:
#Hiperpar√°metros tuneables de RandomForest
parameters = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [68]:
#Reducimos para hacer la prueba con diferentes n_estimators
params = {
     'n_estimators': [400, 600,800]
}

In [73]:
from sklearn.model_selection import GridSearchCV

In [74]:
from sklearn.ensemble import RandomForestClassifier

In [75]:
# Guaardo en una variable raandom forest
rfc = RandomForestClassifier()

In [77]:
# Guardo el grid search con el algoritmo, los par√°metros y verbose paraa que muestre info del proceso
grid = GridSearchCV(rfc, params, verbose=1)
# entreno el grid con los datos de train
grid.fit(X_train,y_train)

Fitting 5 folds for each of 3 candidates, totalling 15 fits

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'n_estimators': [400, 600, 800]}, verbose=1)

In [78]:
# Imprimo los mejores par√°metros que me ha dado el modelo
print(grid.best_params_)

{'n_estimators': 800}

###¬†Entrenar√≠amos el modelo con los mejores par√°metros

Si en GridSearchCV() se indica refit=True, tras identificar los mejores hiperpar√°metros, se reentrena el modelo con ellos y se almacena en .best_estimator_.

In [81]:
#¬†Entrenon
rfc_params = RandomForestClassifier(n_estimators =  800)

In [82]:
rfc_params.fit(X_train,y_train)

RandomForestClassifier(n_estimators=800)

In [83]:
y_pred = rfc_params.predict(X_test)

In [84]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

In [85]:
print ("Accuracy", round(accuracy_score(y_test,y_pred),3))
print("Precission",round(precision_score(y_test,y_pred, average = "weighted"),3))
print("Recall", round(recall_score(y_test,y_pred, average = "weighted"),3))
print("F1_score", round(f1_score(y_test,y_pred,average= "weighted"),3))

Accuracy 0.86
Precission 0.861
Recall 0.86
F1_score 0.86

##¬†Salvar / Exprotar el modelo
https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

In [86]:
import pickle

In [103]:
#¬†save the model to disk
pickle.dump(rfc_params, open("mi_mejor_modelo", 'wb'))

In [104]:
# load the model from disk
loaded_model = pickle.load(open("mi_mejor_modelo", 'rb'))

In [107]:
loaded_model.predict(X_test)

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1])

In [108]:
rfc_params.predict(X_test)

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1])